@media screen and (max-width: 768px) {
  section {
    margin: 0 2rem;
  }
}

#hamburger-nav {
  display: flex;
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
}